.black {
    background-color: white;
    color: black;
}

/* ---------------------- */
/* CAPTION in FIGURES */

.rst-content div.figure, .rst-content figure {
    margin-bottom: 0;
}

figcaption p {
    padding-top: 1%;
    text-align: center;
}

/* ---------------------- */
/* CITAS */

blockquote {
    border-left: 2px solid black;
    padding-top: 1.5%;
    padding-left: 2%;
    background-color: azure;
}

/* ---------------------- */
/* TABLAS */

table {
    margin: 0 auto;
}

.wy-table-responsive {
    margin-bottom: 0;
}

table.docutils {
    box-shadow: 0 .2rem 0.5rem rgba(0, 0, 0, .05), 0 0 0.625rem rgba(0, 0, 0, .1);
}

table.docutils th {
    background-color: #04AA6D;
    color: white;
}


html.writer-html5 .rst-content table.docutils th {
    padding: 8px 16px;
    vertical-align: middle;
}

/* Override table no-wrap */
/* The first column cells are not verbose, no need to wrap them */
.wy-table-responsive table td:not(:nth-child(0)),
.wy-table-responsive table th:not(:nth-child(0)) {
    white-space: normal;
}
/* Allow to control wrapping behavior per table */
.wy-table-responsive table.wrap-normal td,
.wy-table-responsive table.wrap-normal th {
    white-space: nowrap;
}
/* Turn nowrap on per-column */
.wy-table-responsive table.nowrap-col1 td:nth-child(1),
.wy-table-responsive table.nowrap-col1 th:nth-child(1) {
    white-space: nowrap;
}
.wy-table-responsive table.nowrap-col2 td:nth-child(2),
.wy-table-responsive table.nowrap-col2 th:nth-child(2) {
    white-space: nowrap;
}
.wy-table-responsive table.nowrap-col3 td:nth-child(3),
.wy-table-responsive table.nowrap-col3 th:nth-child(3) {
    white-space: nowrap;
}
.wy-table-responsive table.nowrap-col4 td:nth-child(4),
.wy-table-responsive table.nowrap-col4 th:nth-child(4) {
    white-space: nowrap;
}
.wy-table-responsive table.nowrap-col5 td:nth-child(5),
.wy-table-responsive table.nowrap-col5 th:nth-child(5) {
    white-space: nowrap;
}
.wy-table-responsive table.nowrap-col6 td:nth-child(6),
.wy-table-responsive table.nowrap-col6 th:nth-child(6) {
    white-space: nowrap;
}

/* Make sure line blocks don't stretch tables */
.wy-table-responsive table .line-block {
    margin-bottom: 0;
}

/* Make sure not to wrap keyboard shortcuts */
.wy-table-responsive table td kbd {
    white-space: nowrap;
}

/* Artificially increasing specificity to make it override theme.css. */
html.writer-html5 .rst-content .wy-table-responsive > table td > p {
    line-height: 1.425rem;
}
html.writer-html5 .rst-content .wy-table-responsive > table th > p {
    line-height: 1.425rem;
    font-size: .95rem;
    font-weight: 700;
}

html.writer-html5 .rst-content .wy-table-responsive > table td > p tt.literal,
html.writer-html5 .rst-content .wy-table-responsive > table td > p code.literal {
    font-size: .85rem;
    padding: 2px 5px;
}